{% extends "base.html" %}

{% block title %}blog article{% endblock %}

{% block content %}

{% load static %}

<div class="row text-center vertical-middle-sm">
    <h1>{{ article.title }}</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <p class="text-centre"><span>{{ article.author.username }}
        </span><span style="margin-left:20px">{{ publish }}</span>
        </p>
        <div>{{ article.body }}</div>
    </div>
    <div class="col-xs-6 col-md-4">
        <h3>欢迎互相学习交流</h3>
        <p>Email:wilburzzz@qq.com</p>
        <img src="{% static '/images/mouse.jpg' %}" width="100px">
    </div>
</div>
{% endblock %}