{% extends "base.html" %}

{% block title %}blog titles{% endblock %}

{% block content %}

{% load static %}

<div class="row text-center vertical-middle-sm">
    <h2>Wellcome To My BLOG</h2>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
    <ul>
    {% for blog in blogs %}
        <li><a href="{{ blog.id }}">{{ blog.publish }}<br>{{ blog.title }}</a></li>
        <br>
    {% endfor %}
    </ul>
    </div>
    <div class="col-xs-6 col-md-4">
        <h3>欢迎互相学习交流</h3>
        <p>Email:wilburzzz@qq.com</p>
        <img src="{% static '/images/mouse.jpg' %}" width="100px">
    </div>
</div>
{% endblock %}